@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Inter";
   src: url(fonts/static/Inter-Regular.ttf);
   font-family: "Inter-bold";
   src: url(fonts/static/Inter-Bold.ttf);
   font-family: "Inter-extrabold";
   src: url(fonts/static/Inter-ExtraBold.ttf);
}

body {
   font-family: "Inter", sans-serif;
   background-color: #fffdfa;
}
